table{
    font-size: 20px;
    margin-top: 30px;
}

input{
    height: 30px;
    width: 200px;
    font-size: 16px;
}

.uni{
    border: 2px solid;
    background-color: chartreuse;
    border-radius: 10px;
    color: #242424;
    border: 2px solid chartreuse;
    margin-left: 185px;
    font-weight: 600;
}

.uni:hover{
   background-color: transparent; 
   color: chartreuse;
}

h1{
    margin-top: 5px;
    font-size: 45px;
    padding-left: 55px;
}

.unik{
    border: 2px solid;
    background-color: gold;
    border-radius: 10px;
    color: #242424;
    border: 2px solid gold;
    margin-left: 185px;
    font-weight: 600;
}

.unik:hover{
   background-color: transparent; 
   color: gold;
}